*{
    margin: 0 auto;
    padding: 0;
    top: 0;
    left: 0;
}
nav {
    width: 100vw;
    margin: 0 auto;
    position: fixed;
    top: 0;
    z-index: +1;
}

nav::before{
    content: ' ';
    display: block;
    height: 7vh;
    width: 100vw;
    background: #218294;
    position: absolute;
    left: 0;
    z-index: -1;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 7vh;
}
nav ul li{
    float: left;
}
nav ul li a{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    height: 7vh;
    padding: 0 3vw;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 7vh;
}

nav ul li a:hover{
    background: #69bdb7;
    transition: .2s;
}




p{
    font-size: 3vh;
    font-size: 3w;
    text-align: justify;
}
h1{
    font-size: 5vh;
    font-size: 5vw;
}
h2{
    font-size: 3.5vh;
    font-size: 3.5vh;
}
.list {
    position: relative;
    font-size: 3vh;
    font-size: 2.5vwvh;
    left: 10vw;
    list-style: disc;
}
p,
h2,
h1,
.bod ul li {
    font-family: Arial, Helvetica, sans-serif;
    
}

.bod{
    margin-top: 8vh;
    margin-bottom: 5vh;
    padding: 0;
    top: 0;
    left: 0;
    width: 80%;
}